<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/">

    <title>Homepage - Kadu</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',
    filename='css/bootstrap.min.css'  ) }}  " rel="stylesheet">


  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
           <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{url_for('home')}}">Inicio</a></li>
            <li role="presentation"><a href="{{url_for('sobre')}}">Sobre</a></li>
            <li role="presentation"><a href="{{url_for('contato')}}">Contato</a></li>

          </ul>
        </nav>
        <h3 class="text-muted">Cinéfilo - A Magia do Cinema em Você</h3>
      </div>



      <div class="jumbotron">
        <h2>Sobre o Cinéfilo:</h2>
        <p class="lead">Olá, eu sou Carlos Eduardo, e sou programador Python.
          Tenho um gosto especial por filmes, e desenvolvi esta aplicação utilizando o framework Flask,
          onde através de webscraping (ou raspagem de dados na web), a aplicação realiza um sorteio com algumas sinopses de filmes e o usuário
          precisa acertar o nome do filme em questão.
        <p>Ainda tenho coisas a melhorar na idéia inicial, porém, estou colocando no ar para testar a aplicação.</p>

        </p>


      </div>

         <div class="row marketing">
        <div class="col-lg-6">
          <h4>Cinéfilo 1.0</h4>
          <p>Leia a sinopse do filme e tente acertar o seu nome.</p>

          <h4>Ferramentas:</h4>
          <p>Criado em Flask com Python, Ultilizando biblioteca de Wabscraping para buscar as informações sobre os filmes.
            Bootstrap - para Front-End, e Firebase como Banco de dados.</p>

          </div>

        <div class="col-lg-6">
          <h4>Site usado para buscar as informações:</h4>
          <p><a href="https://www.adorocinema.com/">AdoroCinema</a></p>

          <h4>Sobre a Aplicação:</h4>
          <p>Desenvolvido por Carlos Eduardo, Programador Python.</p>

         </div>
      </div>
      <footer class="footer">
        <p>&copy; 2022 Company.</p>
      </footer>

    </div> <!-- /container -->

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    ></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>